# Core do Framework
fastapi==0.109.0
uvicorn[standard]==0.27.0
python-multipart==0.0.6

# Banco de Dados
sqlalchemy==2.0.25
psycopg2-binary==2.9.9

# Configuração e Validação
pydantic-settings==2.1.0
email-validator==2.1.0

# Autenticação e Segurança
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# Requisições HTTP e Integrações (ex: Meta/WhatsApp API)
httpx==0.26.0
google-auth==2.27.0